body{
    background-color: #FFFFFF;
}
h1{
    color: #000000;
    text-align: center;
}
footer{
    text-align: center;
}
nav{
    text-align: center;
    margin: 20px;
}
a{
    color: black;
    text-decoration: none;
    padding: 10px;
}
a:hover{
    color: red;
}
#bigHi{
    font-size: 750%;
    margin: 10% auto 1px;
    text-align: center;
}
#intro{
    font-size: 25px;
    text-align: center;
    padding-bottom: 10%;
}